In [ ]:
# task 1) go through some of the other in built functions

In [1]:
print("hello world")

hello world

In [29]:
# 1) .upper()
a = 'hello world'
print(a.upper())
# 2) .lower()
print(a.lower())
# 3) .startswith()
print(a.startswith("j"))
# 4) .endswith()
print(a.endswith('D'))
# 5) .capitalize()
print(a)
print(a.capitalize())

HELLO WORLD
hello world
False
False
hello world
Hello world

In [ ]:
# task 2) 
# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"

In [20]:
def check(str1,str2):
    if(str1.count (str2)>0):
        print("yes")
    else:
        print("no")
        
str1 = "welcome to python"
str2 = "to"
check(str1,str2)

yes

In [ ]:
#Task-3.1
go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

In [4]:
list1 = [1,2,3,3,2]
list1.remove(3)
print(list1)

[1, 2, 3, 2]

In [3]:
list1 = [1,2,3,1,2,3,1]
list1.count(1)

3

In [30]:
list1 = [1,2,3,4]
list1.clear()
print(list1)

[]

In [33]:
list1 = [3,1,7,5,9]
list1.sort()
print(list1)

[1, 3, 5, 7, 9]

In [36]:
list1 = ["a","b","c","d","e","f"]
list1.reverse()
print(list1)

['f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
#Task 3.2
# create a list of lenght = 10 and access 5th to 8th data.

In [13]:
len = [1,2,3,4,[5,6,7,8],9,10]
#to access 5,6,7,8
len[4]

[5, 6, 7, 8]

In [ ]:
#Task-4
2 problems!

#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [26]:
# insert item 70 at 6th index
l1 = [10,20,[30,40,[50,60],80],90,100]
l1[2][2]
print(l1)
l1[2][2].insert(2,70)
print(l1)

[10, 20, [30, 40, [50, 60], 80], 90, 100]
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]

In [31]:
l2 = [1,2,[3,4,5,6],9]
l2[2].insert(4,[7,8])
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

#Task-5
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
From the above dictionary, do the following tasks

1.access "Mike"
2.access 80
3.change "Mike" to "Your name"
4.add ML = 80 and DL = 80 inside marks

In [34]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
print(dict1)

{'april_batch': {'student': {'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}}}

In [39]:
#accessing "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [65]:
#accessing 80
dict1["april_batch"]["student"]

{'name': 'Mike', 'marks': {'python': 80, 'maths': 70}}

In [71]:
#change "Mike" to "Your name" 
dict1["april_batch"]["student"]["name"] = "Your name"
dict1

{'april_batch': {'student': {'name': 'Your name',
   'marks': {'python': 80, 'maths': 70}}},
 'name': 'Your name',
 'Mike': 'Your name'}

In [ ]:
#add ML = 80 and DL = 80 inside marks

In [73]:
dict1["april_batch"]["student"]["marks"]["ML"] = 80
dict1["april_batch"]["student"]["marks"]["DL"] = 80
dict1

{'april_batch': {'student': {'name': 'Your name',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}},
 'name': 'Your name',
 'Mike': 'Your name'}

In [ ]:
#Task6 - Add and remove the elements from a tuple. (Refer workaroud to modify the tuples)

In [3]:
tup1 = (10,20,30,40,50,60)
tup1

(10, 20, 30, 40, 50, 60)

In [6]:
list1 = list(tup1)
list1

[10, 20, 30, 40, 50, 60]

In [7]:
list1[2] = 50
list1

[10, 20, 50, 40, 50, 60]

In [9]:
tup1 = tuple(list1)
tup1

(10, 20, 50, 40, 50, 60)

In [ ]:
#Task7 - go through other inbuilt methods like
1) difference() 2) symmetric_difference()

In [22]:
A = {"a","b","c","d","e","f"}
B = {"a","c","e"}
print(A-B)
print(B-A)

{'f', 'b', 'd'}
set()

In [21]:
A = {1,2,3,4,5,6,7,8,9}
B = {1,3,5,7,9}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

{2, 4, 6, 8}
{2, 4, 6, 8}